

h1 {
	font-family: 'Acme', sans-serif;
	text-decoration: underline;
}
summary {
    outline: none;
}
.brand-container {
	white-space: nowrap;
}

.alert-box > div {
	display: none;
}

.all > div,
.warning > .alert-warning,
.info > .alert-info,
.danger > .alert-danger {
	display: block;
}